.kcxjysztfe {
  padding-top: 104px;
  padding-bottom: 157px;

  .wwzdjczuoz {
    .pfmadssorp {
      font-weight: 500;
      font-size: 48px;
      line-height: 58px;
      text-align: center;
      text-transform: capitalize;
      color: #313331;
      margin-bottom: 24px;
    }
    .jfbwuhhkny {
      font-weight: 300;
      font-size: 24px;
      line-height: 35px;
      text-align: center;
      color: #313331;
      margin-bottom: 62px;
    }
    .fgjkakcees {
      position: relative;

      .fgzmmwwuip {
        position: absolute;
        left: 0;
        top: 60px;
        z-index: 1;
        .ogqhdosiss {
        }
      }
      .cjzlmcwlag {
        background-color: #ffffff;
        width: 616px;
        margin: auto 0 auto auto;
        position: relative;
        z-index: 3;
        padding: 16px 40px;

        .azxnxwmvlf {
          font-weight: 500;
          font-size: 32px;
          line-height: 38px;
          color: #313331;
          margin-bottom: 6px;
        }
        .qfqzxdzcfb {
          font-weight: 300;
          font-size: 16px;
          line-height: 19px;
          color: #313331;
          margin-bottom: 44px;
        }
        .rcmhgopyqm {
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          color: #313331;
          margin-bottom: 22px;
        }
        .kcrbuvcjtp {
          .xcdodbozxl {
            margin-bottom: 16px;
            padding-left: 32px;
            position: relative;
            max-width: 430px;
            .oishwwdkzf {
              font-size: 16px;
              line-height: 19px;
              color: #313331;
              span {
                font-weight: bold;
              }
            }
            .thrvhxrtvf {
              position: absolute;
              left: 0;
              top: 8px;
            }
          }
        }
      }
    }
  }
}
