.oadmphxcyr {
  padding-bottom: 120px;
  .szglgsqtmn {
    .aywnltlnel {
      font-weight: 500;
      font-size: 48px;
      line-height: 58px;
      text-align: center;
      text-transform: capitalize;
      color: #313331;
      margin-bottom: 24px;
    }
    .fzyeazpgof {
      font-weight: 300;
      font-size: 24px;
      line-height: 35px;
      text-align: center;
      color: #313331;
      margin-bottom: 51px;
    }
    .IAcNKwAYlK {
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: #313331;
      margin-bottom: 12px;
    }
    .whoimnzqka {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      @media (max-width: 1200px) {
        flex-wrap: wrap;
      }

      .otnfshfvgo {
        margin-left: 15px;
        margin-right: 15px;
        .jundnizqtq {
          width: 200px;
        }
      }
    }
  }
}
