.qaawmpstdv {
  margin-bottom: 100px;

  @media (max-width: 1200px) {
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #7e807e;
  }

  &:last-child {
    margin-bottom: 0;
  }
  .oflhydofzh {
    display: flex;
    
    @media (max-width: 1200px) {
      display: block;
    }
    .cfrrviuodn {
      &.tuqbrotgqq {
        padding-left: 65px;

        @media (max-width: 1200px) {
          padding: 32px 24px;
        }
      }
      &.nxhztlreor {
        padding-right: 65px;

        @media (max-width: 1200px) {
          padding: 32px 24px;
        }
      }
      .frrtcscsui {
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
        color: #313331;
        margin-bottom: 16px;
      }
      .khhzvvyzvx {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #cb222a;
      }
      .encrxneqoq {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #7e807e;
        white-space: break-spaces;
      }
    }
    .vnlquwrayu {
      @media (max-width: 1200px) {
        display: block;
      }
    }
    .udncvqnrno {
      @media (max-width: 1200px) {
        display: block;
      }
    }
  }
}
