.qaawmpstdv {
  margin-bottom: 100px;

  &:last-child {
    margin-bottom: 0;
  }
  .oflhydofzh {
    display: flex;
    .cfrrviuodn {
      .frrtcscsui {
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
        color: #313331;
        margin-bottom: 16px;
      }
      .khhzvvyzvx {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #cb222a;
      }
      .encrxneqoq {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #7e807e;
        white-space: break-spaces;
      }
    }
    .vnlquwrayu {
    }
    .udncvqnrno {
    }
  }
}
