.vomkmxgmzl {
  padding-bottom: 135px;

  @media (max-width: 700px) {
    padding-top: 56px;
    padding-bottom: 50px;
  }

  .ouareurroh {
    .lqayiefvli {
      max-width: 1440px;
      margin: auto;
      position: relative;
    }

    .yidrekwmdn {
      display: flex;
      justify-content: flex-start;

      .ngrhmuojmf {
        width: 700px;
        position: relative;

        @media (max-width: 1200px) {
          width: 100%;
          max-width: 700px;
        }
        .honkclljax {
          margin-top: 20px;
          margin-bottom: 74px;
          text-align: center;
          font-weight: 500;
          font-size: 48px;
          line-height: 58px;
          text-transform: capitalize;
          color: #313331;
        }
        .uwpdwksmfu {
          margin-top: 20px;
          margin-bottom: 74px;
          font-weight: 500;
          font-size: 32px;
          line-height: 38px;
          text-transform: capitalize;
          color: #313331;
          max-width: 294px;
        }
        .awbfhmagbq {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          background-color: #ffffff;
        }
      }
    }
  }
}

.rhrdngavpc {
  flex-basis: 50%;
  margin-bottom: 20px;

  @media (max-width: 700px) {
    flex-basis: 100%;
  }

  .sispasfymu {
    padding: 31px 28px 36px 26px;
  }
  .vivdmtfibn {
    padding: 16px 34px 16px 24px;
  }
  .wrrqjxhygj {
    padding: 31px 28px 36px 0;
  }

  .nhiubexoqf {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #313331;
    margin-bottom: 11px;
  }
  .lziwdkixgs {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #313331;
  }
}

.vvxyunefzb {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;

  .eoebufdlfc {
    width: 778px;

    @media (max-width: 1200px) {
      width: 100%;
      max-width: 778px;
    }
  }
}
