.wmwfrxhexu {
  padding-bottom: 135px;

  @media (max-width: 700px) {
    padding-top: 56px;
    padding-bottom: 50px;
  }

  .uqajkgndxj {
    .bjtvjkgcai {
      max-width: 1440px;
      height: 510px;
      display: flex;
      align-items: center;
      margin: auto;
      position: relative;
    }

    .udbnrebllg {
      display: flex;
      justify-content: flex-end;

      .aqalpfffcm {
        width: 700px;
        position: relative;
        background-color: #ffffff;

        @media (max-width: 1200px) {
          width: 100%;
          max-width: 700px;
        }
      }
    }
  }
}

.pxiledsbwb {
  .yvrkhtigjd {
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    text-transform: capitalize;
    color: #313331;
    margin-bottom: 24px;
  }
  .wzvrqwyocu {
    font-weight: 300;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #313331;
    margin-bottom: 80px;
  }
}

.pcxsqgpfpk {
  flex-basis: 100%;
  margin-bottom: 20px;

  @media (max-width: 700px) {
    flex-basis: 100%;
  }

  .xvlobbatbf {
    padding: 16px 34px 16px 24px;
  }

  .ixucicuvbe {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #313331;
    margin-bottom: 11px;
  }
  .qkyrzxwfqt {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #313331;
  }
}

.xifvmztqmd {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;

  .oejkicvxfh {
    width: 100%;
    max-width: 895px;
  }
}
