.VMUOqxQmhV {
  padding-top: 19px;
  .AoJWRgRSJU {
    display: flex;
    justify-content: center;
    margin-bottom: 57px;

    .KHLOgJdVEA {
      width: 123px;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #313331;
      padding: 11px 0;
      border-bottom: 2px solid transparent;

      &:hover {
        border-bottom: 2px solid #cb222a;
      }

      &.DSIsoERGBs {
        border-bottom: 2px solid #cb222a;
      }
    }
  }
}

.wLZyEorIXA {
  .jsLQNqcNGk {
    .TSCQysXagF {
      font-weight: 800;
      font-size: 32px;
      line-height: 38px;
      color: #313331;
      margin-bottom: 29px;
    }
    .MfMKETAyeK {
      display: flex;
      margin-bottom: 95px;
      .YDUqZVaEXx {
        flex-basis: 513px;
      }
      .EouhQVFgnk {
        flex-basis: calc(100% - 513px);
        padding-left: 56px;
        .xoMfeDjLfZ {
          display: flex;
          justify-content: space-between;
          margin-bottom: 15px;
          .zTXlXBYbxv {
            width: 45px;
            height: 20px;
            background: #f1f1f1;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #777777;
          }
          .nXnWOxmwOU {
            font-style: italic;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-align: right;
            color: #777777;
          }
        }
        .fXQJNrtARH {
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          color: #313331;
          margin-bottom: 15px;
        }

        .tAgywSKksr {
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 19px;
          color: #313331;
          margin-bottom: 26px;
        }
        .dhcnmdtKKa {
          width: 104px;
          height: 31px;
          background: #cb222a;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #ffffff;
        }
      }
    }
  }
}
