body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

.hover01 {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

  &:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }
}