.xWGPkgbWpD {
  padding-top: 20px;
  .izRttrlrZJ {
    display: flex;
    justify-content: space-between;
    .UjHOdtyHMl {
      flex-basis: calc(100% - 380px);

      .YSEPZDFLuY {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #313331;
        margin-bottom: 35px;
      }
      .aBwyOoWAOm {
        font-weight: 800;
        font-size: 32px;
        line-height: 38px;
        color: #313331;
        margin-bottom: 10px;
      }
      .lwSGgXjrLt {
        margin-bottom: 29px;
        .uUFdkkrHht {
          font-weight: 300;
          font-size: 16px;
          line-height: 19px;
          color: #313331;
        }
        .XpxQGeikuV {
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: #313331;
        }
      }

      .GDFNqntkZL {
        height: 411px;
        margin-bottom: 33px;
        .HUYbRINTZf {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .iReAEpJwuv {
        margin-bottom: 57px;
      }
      .vTDZcgzXlT {
        display: flex;
        justify-content: space-between;
        margin-bottom: 17px;
        padding-bottom: 27px;
        border-bottom: 1px solid #c4c4c4;
        .aiCGvGfeGQ {
          display: flex;
          .kKQRMCybEB {
            margin-right: 16px;
            .FZIFqXjbvU {
            }
          }
        }
        .IAyLkOxOvX {
          .ePUYkNDIpj {
            .NVXpNzBDFL {
            }
          }
        }
      }

      .mdbbUMALxG {
        .RqxlFDrNaH {
          font-weight: 800;
          font-size: 32px;
          line-height: 38px;
          color: #313331;
          margin-bottom: 6px;
        }
      }

      .DlUdNTQWLs {
      }
    }
    .wGeVinNUvI {
      flex-basis: 346px;
      padding-top: 94px;
    }
  }
}

.bBwrXjDyJu {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #cb222a;
}
