.bLUDMBifTq {
  padding-top: 61px;
  .qbVquDborH {
    background: #f8f8f8;
    padding-top: 65px;
    .QAajbgYvge {
      font-weight: 300;
      font-size: 24px;
      line-height: 35px;
      text-align: center;
      color: #313331;
      margin-bottom: 23px;
    }
    .WylqrNBIaU {
      font-weight: 800;
      font-size: 64px;
      line-height: 77px;
      text-align: center;
      color: #cb222a;
      margin-bottom: 40px;

      @media (max-width: 1200px) {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 32px;
      }
    }
    .EmyHwIHVOc {
      display: flex;
      justify-content: center;
      margin-bottom: 39px;

      .QGYMotEjOK {
        width: 123px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.yMUuBnuyrz {
          border-bottom: 2px solid #cb222a;
          padding-top: 11px;
          padding-bottom: 11px;
        }
      }
    }
    .RDmpkVhYgZ {
      .OUNLWCOaTA {
        height: 84px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 80px);
        margin: auto;
        border-bottom: 1px solid #c2c2c2;
        padding-bottom: 13px;

        &:last-child {
          border-bottom: 0;
        }

        .guTplusTYG {
          .pkXzdQXCBn {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #313331;
            margin-bottom: 11px;
          }
          .KdKFAxfitq {
            display: flex;
            align-items: center;

            .gcmVHrKeGL {
              display: flex;
              align-items: center;
              font-weight: 300;
              font-size: 16px;
              line-height: 19px;
              color: #777777;
              margin-right: 11px;

              .usQCVBoXFX {
                margin-right: 6px;
              }
            }
            .bESzqAtCrp {
              display: flex;
              align-items: center;
              font-weight: 300;
              font-size: 16px;
              line-height: 19px;
              color: #777777;

              .RNSJRozhIT {
                margin-right: 6px;
              }
            }
          }
        }
        .KPLKrTWNCZ {
          .iANdTPZbgi {
            border: 1px solid #cb222a;
            width: 72px;
            height: 44px;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-transform: capitalize;
            color: #cb222a;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
    .JxaNVDmdhb {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #cb222a;
      margin-top: 25px;
      padding-bottom: 17px;
    }
  }
}
