.enuDjfLFVp {
  padding-top: 163px;
  .cjkXwabZMr {
    .SlkowocPvz {
      font-weight: 800;
      font-size: 64px;
      line-height: 77px;
      text-align: center;
      color: #cb222a;
      margin-bottom: 61px;
    }
    .NKmOikBgUS {
      display: flex;
      justify-content: space-between;
      .YGiKFCKWDR {
        flex-basis: calc(25% - 15px);
        .aWqgmbtpZp {
          height: 255px;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.RLMaTvsPsY {
  padding-top: 193px;
  padding-bottom: 212px;
  .rKMDjoKIWw {
    text-align: center;
    .kHUWFSKSSS {
      font-weight: 800;
      font-size: 64px;
      line-height: 77px;
      text-align: center;
      color: #cb222a;
      margin-bottom: 90px;
    }
    .UWuBEtWkLF {
      width: 766px;
      height: 425px;
      margin: auto;
    }
  }
}
