.xjYpCNKKDX {
  background: #f8f8f8;
  padding-top: 62px;
  padding-bottom: 116px;
  
  .NKmOikBgUS {
    .sZESHENPLM {
      font-weight: 800;
      font-size: 64px;
      line-height: 77px;
      text-align: center;
      color: #cb222a;
      margin-bottom: 84px;
    }
    .NVhUBVtJhj {
      .PZFZcdcvaM {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .XKfIMRDKbV {
          max-width: 539px;
          .nnnVFCdbQT {
            font-weight: 800;
            font-size: 32px;
            line-height: 38px;
            color: #313331;
            margin-bottom: 14px;
          }
          .YBDxvtbFRJ {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #313331;
            margin-bottom: 20px;
          }
          .TLapyAfins {
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 24px;
            color: #313331;
            margin-bottom: 20px;
          }
        }
        .fAmDJQzgFA {
          .ATEITTbZne {
            .XsydVPXjFQ {
            }
          }
        }
      }
    }
  }
}
