.nVhhZZgJCA {
  padding-top: 112px ;
  padding-bottom: 204px;
  .uHvSGLQfaY {
    display: flex;
    
    @media (max-width: 1200px) {
      display: block;
    }
    .ZOgxSUBaXc {
      flex-basis: 540px;
      .GwZoEUfQwR {
        height: 250px;
        background: #f8f8f8;
        .zWCHPeFwoR {
        }
      }
      .PgWLIuOFJe {
        height: 103px;
        background: #313331;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 19px;
        padding-right: 19px;
        .XARdhBPjNk {
          .pbSfbXkCoO {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #ffffff;
            margin-bottom: 6px;
          }
          .pBuzjJxgCz {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #ffffff;
          }
        }
        .yxPEzzwoZX {
          .aJHCpvqaOa {
            width: 139px;
            height: 43px;
            background: #cb222a;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #ffffff;
            .CUBGCNjKie {
              margin-left: 11px;
            }
          }
        }
      }
    }
    .feWPGgsaMj {
      flex-basis: calc(100% - 540px);
      padding-top: 16px;
      padding-left: 31px;

      .PbBZHfYAcp {
        font-weight: 800;
        font-size: 32px;
        line-height: 38px;
        color: #313331;
      }
      .TzIQKTRxel {
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        color: #313331;
      }
      .NmbVVHkGIz {
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: #313331;
      }
    }
  }
}
