.JYiBaDYpiZ {
  padding-bottom: 125px ;
  .DJzBHRjwoI {
    .PIHgIJZBjp {
      font-weight: 800;
      font-size: 64px;
      line-height: 77px;
      text-align: center;
      color: #cb222a;
      margin-bottom: 16px;
    }
    .ZKBQRQUPKn {
      font-weight: 300;
      font-size: 24px;
      line-height: 35px;
      text-align: center;
      color: #313331;
      margin-bottom: 64px;
    }
    .sUvsIGbbIS {
      display: flex;
      justify-content: space-between;

      @media (max-width: 1200px) {
        display: block;
      }
      .JwsiuEWwAN {
        flex-basis: calc(33% - 15px);

        @media (max-width: 1200px) {
          margin-bottom: 30px;
        }

        .pfAFOmkfnU {
          height: 196px;
          margin-bottom: 32px;
          .WLRXAXBbZq {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
        .kLqJDKHdDb {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          .jAzzvNYioD {
            width: 48px;
            height: 20px;
            background: #f1f1f1;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #777777;
          }
          .jllkJRbyIo {
            font-style: italic;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            text-align: right;
            color: #777777;
          }
        }

        .sdtolcTiOf {
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          color: #313331;
          margin-bottom: 16px;
        }
        .TtlrDDXRCM {
          font-weight: 300;
          font-size: 16px;
          line-height: 19px;
          color: #313331;
          margin-bottom: 17px;
        }
        .AzBzkzwHlB {
          width: 104px;
          height: 31px;
          background: #cb222a;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #ffffff;
        }
      }
    }
  }
}
