.hjjwtlvigw {
  .txszrulamf {
    .kuixqwbvwz {
      font-weight: 500;
      font-size: 48px;
      line-height: 58px;
      text-align: center;
      text-transform: capitalize;
      color: #313331;
      margin-bottom: 43px;
    }
    .wtrorqvjqq {
      display: flex;
      align-items: center;

      @media (max-width: 1200px) {
        display: block;
      }
      .qcrqunblqy {
        flex-basis: calc(50% - 416px / 2);
      }

      .bhfderjjqb {
        flex-basis: 416px;
        .pkisauhgre {
          width: 100%;

          @media (max-width: 1200px) {
            display: none;
          }
        }
      }

      .vxlnrhopnx {
        flex-basis: calc(50% - 416px / 2);
      }
    }
  }
}

.iyjsbvljrv {
  display: flex;
  margin-bottom: 43px;

  &:last-child {
    margin-bottom: 0;
  }
  .irekgaiutj {
    .vmrikdiiwe {
      width: 61px;
      height: 61px;
      border-radius: 50%;
    }
  }
  .feonoypzfk {
    padding-left: 21px;
    .nwwwyopygt {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #313331;
      margin-bottom: 7px;
    }
    .kvrcetuodm {
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: #313331;
    }
  }
}
