.dwwyzparpf {
  padding-top: 104px;
  padding-bottom: 100px;
  .jocsazxeyz {
    .oywxbgmyxe {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: #313331;
    }
    .wzgsabgpgm {
      font-weight: 300;
      font-size: 24px;
      line-height: 35px;
      text-align: center;
      color: #313331;
      margin-bottom: 81px;
    }
    .lqrfsnhyvi {
      .vezulrerem {
        display: flex;
        align-items: center;
        margin-bottom: 100px;

        @media (max-width: 1200px) {
          display: block;
          width: calc(100% - 32px);
          margin: 30px auto 30px auto;
        }

        &:last-child {
          margin-bottom: 0;
        }

        .qenwmwtibd {
          @media (max-width: 1200px) {
            text-align: center;
          }

          .mjxsjbzjkq {
            width: 475px;
            height: 271px;
            @media (max-width: 1200px) {
              width: 100%;
              max-width: 475px;
              height: auto;
            }
          }
        }

        .ngdwdevsvj {
          .fciywfguey {
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #313331;
            margin-bottom: 16px;
          }
          .popglkzayf {
            padding-left: 20px;
          }
          .mmssgjsqni {
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 32px;
            color: #313331;
          }
        }
      }
    }
  }
}

.tybnthcjgj {
  padding-left: 65px;

  @media (max-width: 1200px) {
    padding-left: 0;
  }
}
