.kcnwublglj {
  padding-top: 84px;
  padding-bottom: 168px;
  .vytblxrlvi {
    .eztyqrklok {
      margin-bottom: 38px;
      text-align: center;
      .qunzwtnhcl {
      }
    }
    .petlajucug {
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: #313331;
      white-space: break-spaces;
      margin-bottom: 116px;
    }

    .wplkldfiqp {
      text-align: center;
      margin-bottom: 111px;
      .ztbuubsrnv {
        @media (max-width: 1200px) {
          width: 100%;
          max-width: 817px;
        }
      }
    }

    .pvzghaygvk {
      display: flex;
      justify-content: space-between;

      @media (max-width: 1200px) {
        flex-wrap: wrap;
        justify-content: center;
      }
      .xrnlsodhaw {
        flex-basis: calc(25% - 15px);
        .shelybgzja {
        }
      }
    }
  }
}
