.eLNwDTmejY {
  margin-bottom: 32px;
  .VOOdtIUOlA {
    .JYsfpPrdoO {
      font-weight: 700;
      font-size: 14px;
      line-height: 14px;
      color: #313331;
      margin-bottom: 5px;
    }
    .TobkTyGnQY {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: #313331;
      margin-bottom: 10px;
    }
    .SZlXPQtrOr {
    }
  }
  .BtsDrhEzyI {
    display: flex;
    align-items: center;
    margin-bottom: 27px;
    .deyqyvXGda {
      margin-right: 5px;
    }
    .laXkNamUfI {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #313331;
      margin-right: 10px;
    }
    .EgNlwFpLkY {
      font-weight: 700;
      font-size: 14px;
      line-height: 10px;
      text-decoration-line: underline;
      color: #313331;
    }
  }

  .MnHGayYDRs {
    padding-left: 32px;
    .hTGYxrRNVA {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
      .BXxCdJkZuC {
        width: 90px;
        font-weight: 400;
        font-size: 12px;
        line-height: 10px;
        color: #313331;
        position: relative;
        top: 4px;
      }
      .VcKUkbyJby {
        width: calc(100% - 90px);
        padding-left: 15px;
        .zhwZjRJsES {
          border: 0;
          border-bottom: 1px solid #c2c2c2;
          width: 100%;
        }
      }
    }
    .imGlZbQTfJ {
      .QErpGFrACA {
        .carCupTZDJ {
          font-weight: 700;
          font-size: 14px;
          line-height: 14px;
          color: #313331;
          margin-bottom: 5px;
        }
        .GOjtlDjwJv {
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: #777777;
          margin-bottom: 7px;
        }
        .feyaDKZCqK {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #777777;
          margin-bottom: 7px;
        }
        .HpbbSzsUOC {
          margin-bottom: 13px;
        }
      }
    }
  }
}
