.nwcjbovxvs {
  padding-top: 160px;
  .tsjsriqrqj {
    .dpgzikpmfu {
      font-weight: 500;
      font-size: 48px;
      line-height: 58px;
      text-align: center;
      text-transform: capitalize;
    }
    .nepxrmvjpl {
      font-weight: 700;
      font-size: 24px;
      line-height: 35px;
      text-align: center;
      color: #313331;
    }
    .wrbbyzmhzv {
      font-weight: 400;
      font-size: 24px;
      line-height: 35px;
      text-align: center;
      color: #313331;
      margin-bottom: 88px;
    }
    .ceozyvcdlh {
      display: flex;
      align-items: flex-end;
      .brbcjxqmdo {
        .ycqkfhvkmn {
          font-weight: 800;
          font-size: 32px;
          line-height: 38px;
          color: #313331;
          margin-bottom: 14px;
        }
        .wtvrdtchxj {
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          color: #313331;
          margin-bottom: 20px;
        }
        .wejmwdhvxx {
          font-style: normal;
          font-weight: 300;
          font-size: 20px;
          line-height: 24px;
          color: #313331;
          white-space: break-spaces;
          margin-bottom: 78px;
        }
      }
      .hbgldslfxb {
        .eowtdhlhvl {
        }
      }
    }
  }
}

.lppehqasvq {
  padding-top: 96px;

  .yxnsfyxays {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .jljbxsxkgo {
      flex-basis: calc(33% - 15px);
      margin-bottom: 36px;

      &.mdosmursmc {
        flex-basis: calc(33% - 15px);
        margin-bottom: 0;
      }
      .eszpdechnj {
        height: 263px;
        background: #d6d6d8;
        .ublinznkzk {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .ukfgnyzugv {
        padding-top: 20px;
        padding-bottom: 20px;
        .vynjksrnfx {
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          text-align: center;
          color: #313331;
          margin-bottom: 6px;
        }
        .hvweqszmiv {
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          color: #777777;
        }
      }
    }
  }
}
