.njtayjxbnk {
  .wslxgltezo {
    max-width: 1440px;
    position: relative;
    margin: auto;

    .cpgxvbdfde {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      padding-top: 101px;
      padding-bottom: 299px;

      @media (max-width: 1200px) {
        display: block;
        padding-top: 50px;
        padding-bottom: 50px;
      }

      .ovcnynaaht {
        position: absolute;
        bottom: 0;
        left: 0;

        @media (max-width: 1200px) {
          position: unset;
          text-align: center;
        }
        .cfxptyiduo {

          @media (max-width: 1200px) {
            max-width: 895px;
            width: 100%;
          }
        }
      }

      .clrpfddfkm {
        position: relative;
        height: 482px;
        background-color: #ffffff;
        padding: 16px 27px;
        .aeqaadvlht {
          font-weight: 800;
          font-size: 32px;
          line-height: 38px;
          color: #313331;
          margin-bottom: 11px;
        }
        .tfgqdwqcbl {
          font-weight: 300;
          font-size: 20px;
          line-height: 24px;
          color: #313331;
          margin-bottom: 32px;
        }
        .qhpgcqijqp {
          padding-left: 20px;
          .mutpmyotjf {
            font-weight: 300;
            font-size: 20px;
            line-height: 24px;
            color: #313331;
          }
        }
      }
    }
  }
}
