.aaywqvghgq {
  padding-bottom: 200px;
  .qowcunzvdd {
    .fisjzokarx {
      font-weight: 800;
      font-size: 64px;
      line-height: 77px;
      text-align: center;
      color: #cb222a;
      margin-bottom: 66px;
    }
    .ukprlbrdsa {
      .enntwpngoo {
        position: relative;
        .imxyongbfw {
          display: flex;
          .wicbigxykt {
            flex-basis: calc(50% - 95px / 2);
            padding-top: 44px;
            padding-bottom: 26px;
          }
          .otgjiykfho {
            flex-basis: 95px;
            position: relative;
            padding-left: 6px;
            padding-right: 6px;

            .hpfiyhlmuz {
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              top: 0;
              width: 2px;
              height: 100%;
              background-color: #f1f1f1;
              content: " ";
            }
            .esjwsufygh {
              position: absolute;
              right: 0;
              width: 50%;
              height: 20px;

              .xsabzeivxe {
                position: absolute;
                top: 85px;
                left: -11px;
                .rawccjbxej {
                  margin-right: 28px;
                }
              }
              .kybwdzbrau {
                position: absolute;
                top: 90px;
                right: calc(100% - 11px);
                .rawccjbxej {
                  margin-left: 28px;
                }
              }
            }

            .rawccjbxej {
              width: 19px;
              height: 19px;
              border-radius: 50%;
              border: 2px solid #cb222a;
            }
            .gvmybiarut {
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              line-height: 24px;
              display: flex;
              align-items: center;
              text-align: right;
              color: #cb222a;
            }
          }
          .qsrkbcmykv {
            flex-basis: calc(50% - 95px / 2);
            padding-top: 66px;
            padding-bottom: 26px;
          }
        }

        .ymtimohges {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          background: #cb222a;
          z-index: 10;
          width: 95px;
          height: 32px;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 34px;
          display: flex;
          align-items: center;
          justify-content: center;
          letter-spacing: 0.09em;
          color: #ffffff;
        }
      }
    }
  }
}

.szznqfqcxb {
  background: #f8f8f8;
  padding: 26px 34px;
  .unwgbpaqpy {
    margin-bottom: 32px;

    &:last-child{
      margin-bottom: 0;
    }

    .zgebrbmmmq {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #313331;
      margin-bottom: 12px;
    }
    .alzucrlbrf {
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: #777777;
    }
  }
}
