.gqaqclvmrn {
  padding-top: 108px;
  .nqvvuwfvto {
    position: relative;
    margin-bottom: 175px;

    .qqfjjtjdyh {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .pqvoastcix {
        flex-basis: calc(556px);
        .fycfjfnyns {
          .qudwdlsajh {
            height: 416px;
            width: 556px;
          }
        }
      }

      .exhkfyjisv {
        flex-basis: calc(100% - 556px);
        padding-left: 64px;
        .obzceupcdg {
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 38px;
          color: #313331;
          white-space: break-spaces;
        }
      }
    }

    .kfuwqrqixj {
      display: flex;
      justify-content: space-between;
      background-color: #ffffff;
      position: absolute;
      bottom: calc(-197px / 2);
      left: 0;
      width: calc(100% - 63px);
      height: 197px;

      @media (max-width: 1200px) {
        display: block;
        height: auto;
      }
      .ectncpfykc {
        padding: 31px 27px;
        flex-basis: 33%;

        .kbzhwtnwpt {
          font-weight: 300;
          font-size: 20px;
          line-height: 30px;
          color: #313331;
        }
      }
    }
  }
}
