.jvqydtlwmi {
  padding-top: 108px;
  
  .ekeupmfcjh {
    position: relative;
    margin-bottom: 250px;

    .aarvervebz {
      display: flex;
      justify-content: space-between;
      .jqqjzvroem {
        flex-basis: calc(556px);
        .ilgwvxaowu {
          .ziiswpbgbf {
            height: 527px;
            width: 705px;
          }
        }
      }

      .exzfjblavf {
        flex-basis: calc(100% - 556px);
        padding-top: 30px;
        padding-left: 30px;
        .ojxrugtwdy {
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 38px;
          color: #313331;
          white-space: break-spaces;
          margin-bottom: 32px;
        }
        .prmtfwxwnp {
          font-weight: 300;
          font-size: 24px;
          line-height: 35px;
          color: #313331;
        }
      }
    }

    .qgzhosdkrg {
      display: flex;
      justify-content: space-between;
      background-color: #ffffff;
      position: absolute;
      top: 255px;
      right: 0;
      width: calc(100% - 63px);

      @media (max-width: 1200px) {
        display: block;
        height: auto;
      }
      .nltyhjegpm {
        padding: 31px 27px;
        flex-basis: 33%;

        .lkgnnbdgqn {
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          color: #313331;
          margin-bottom: 11px;
        }
        .qrltsfdilu {
          font-weight: 300;
          font-size: 20px;
          line-height: 30px;
          color: #313331;
        }
      }
    }
  }
}
