.nvblazvhzw {
  padding-top: 104px;
  .ddkvjzajsu {
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    text-transform: capitalize;
    color: #313331;
    margin-bottom: 79px;
  }
  .tpmiegyyeu {
    display: flex;
    justify-content: center;
    margin-bottom: 59px;
    .shorcuikvq {
      margin-right: 49px;

      &:last-child {
        margin-right: 0;
      }

      .efldewkbld {
        width: 108px;
        height: 108px;
        border-radius: 50%;
      }
    }
  }

  .kdkeacztjw {
    font-weight: 300;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #313331;
  }
}
