.nbvcpbrnxb {
  padding-bottom: 136px;
  .xyeviidwvx {
    .jcorzfoekj {
      font-weight: 500;
      font-size: 48px;
      line-height: 58px;
      text-align: center;
      text-transform: capitalize;
      color: #313331;
      margin-bottom: 24px;
    }
    .yycprueimk {
      font-weight: 300;
      font-size: 24px;
      line-height: 35px;
      text-align: center;
      color: #313331;
      margin-bottom: 53px;
    }
    .zfqabdxwbh {
      display: flex;
      @media (max-width: 1200px) {
        display: block;
      }
      .ixyjzbvizx {
        flex-basis: 50%;
        display: flex;
        .zxtvlefixd {
          .cxhcjplmlu {
          }
        }
        .pdjvgocbof {
          padding-left: 29px;
          .rofmxaeavl {
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #313331;
            margin-bottom: 11px;
          }
          .iwyukagbct {
            padding-left: 20px;
            .bmpvbcrumf {
              font-weight: 300;
              font-size: 20px;
              line-height: 30px;
              color: #313331;
            }
          }
        }
      }
    }
  }
}
